@font-face {
  src: url(fonts/Norse-Bold.otf);
  font-family: norse;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
}

.container_left {
  position: relative;
  width: 40%;
  background-image: url(pictures/neom-sqG2iXx6f2k-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.container_right {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container_right > div {
  flex: 1;
  padding: 10px 40px;
}

.container_right > div:first-child,
.container_right > div:last-child {
  background-color: RGB(245, 245, 245);
}

.container_left div {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: norse;
  color: white;
  height: 200px;
  margin-top: 200px;
  background-color: rgb(0, 0, 0, 0.5);
}

h1 {
  font-size: 5rem;
}

img {
  height: 100%;
}

.container_left p {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: white;
}

label {
  display: block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  gap: 40px;
}

a {
  color: white;
}

#h22 {
  margin-top: 220px;
}

button {
  background-color: #596d48;
  padding: 15px 40px;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  box-shadow: 0px 5px 10px #596d48;
  margin-top: 20px;
}

input {
  appearance: none;
  padding: 5px 10px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  width: 250px;
}

.error:invalid {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid lightblue;
  box-shadow: 8px 5px 5px lightblue;
}

.login {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}

.login:hover {
  text-decoration: underline;
}

.container_right > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-weight: 400;
}

button:hover {
  background-color: #7ca56f;
}

.container_right > div:last-child {
  padding 30px;
}
